/* Importa Flowbite */
@import 'flowbite';

/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.texto-tabla {
    font-size: 13px!important;
}
.texto-descripcion-card {
    font-size: 12px!important;
}
.texto-categoria {
    font-size: 14px;
}
.contenedor-buttons-dashboard-sticky {
    position: sticky; /* Usa sticky para mantener la posición */
    top: 10px; /* Ajusta la distancia desde la parte superior */
    z-index: 10;
}
.button-limpiar-filtros {
    padding: 6px 7px!important;
    font-size: 15px;
}
/* .iconos-sidebar:hover {
    color: red!important
} */
.select-filters-container-custom {
    position: sticky!important;
    top: -16px;
    z-index: 1;
    background-color: rgb(238, 237, 237);
}
.input-search-table-main {

        position: sticky;
        top: 0; /* Ajusta según el espacio deseado desde la parte superior */
        z-index: 10;
        background-color: rgb(235, 235, 235); /* Fondo blanco para que el sticky se vea claro */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra opcional para darle separación visual */
        padding: 10px 0; /* Espaciado adicional */
        /* background-color: red; */
        
}

.contenedor-custom {
    display: grid!important;
    grid-template-columns: 100%!important;
    width: 100%!important;
    margin: auto;
}

.iframe-cv {
    height: 30rem!important;
}
.modal {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    max-height: 80%;
    overflow-y: auto;
    padding: 20px;
  }
  .clase {
    margin-top: 0px!important;
  }
  .clase-contraria {
    margin-top: -20px!important;

  }

  input[type="checkbox"] {
    transform: scale(0.9); /* Esto achica el checkbox al 80% de su tamaño original */
  }

  
  .container-custom-agus {
    min-height: 620px; /* Este es el tamaño mínimo del contenedor */
  }
  
  .card-custom-agus {
    height: 180px; /* Altura fija para las tarjetas */
  }
  
  .container-interno-agus {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; /* Tres columnas */
    gap: 10px;
    padding-left: 11px;
    padding-right: 11px;
    justify-content: center;
    align-items: flex-start;
    row-gap: 10px;
    height: 380px;
  }
  .salvador {
    height: 180px;
  }

  @media(max-width:1480px) {
    .container-custom-agus {
        min-height: 470px; /* Este es el tamaño mínimo del contenedor */
      }
      
      .card-custom-agus {
        height: 150px; /* Altura fija para las tarjetas */
      }
      
      .container-interno-agus {
        display: grid;
        grid-template-columns: 33% 33% 33%; /* Tres columnas */
        column-gap: 10px;
        justify-content: center;
        align-items: flex-start;
        row-gap: 10px;
        height: 300px;
      }
      .salvador {
        height: 150px;
      }
  }


  @media(max-width:1026px) {
    .container-custom-agus {
        min-height: 645px; /* Este es el tamaño mínimo del contenedor */
      }
      
      .card-custom-agus {
        height: 150px; /* Altura fija para las tarjetas */
      }
      
      .container-interno-agus {
        display: grid;
        grid-template-columns: 50% 50%; /* Tres columnas */
        column-gap: 10px;
        justify-content: center;
        align-items: flex-start;
        row-gap: 10px;
        height: 380px;
      }
      .salvador {
        height: 150px;
      }
  }
  